:root {
  color-scheme: light;
  color-scheme: dark;
  --fs-color-danger-text: #f1a7ab;
}
.darkmode-toggle {
  --fs-color-danger-text: #123456;
}
[data-theme="dark"] {
  color-scheme: light dark;
  --fs-color-danger-text: #ff9999;
}
:root {
  --my-color-scheme: dark;
  --fs-color-danger-text: #7a1f28 !important;
}
