@media (prefers-color-scheme: dark) {
  :root {
    --fs-color-accent-surface: #192533;
    --fs-color-accent-border-subtle: #253951;
    --fs-color-accent-border: #668bb6;
    --fs-color-accent-border-strong: #85aedf;
    --fs-color-accent-fill: #4992e2;
    --fs-color-accent-text: #99c8ff;
    --fs-color-accent-text-strong: #d8eaff;
    --fs-color-accent-text-subtle: #7aabe4;
    --fs-color-accent-content: #0c0d10;
    --fs-color-visited-surface: #1f242d;
    --fs-color-visited-border-subtle: #2f3847;
    --fs-color-visited-border: #7888a4;
    --fs-color-visited-border-strong: #99accb;
    --fs-color-visited-fill: #7290c2;
    --fs-color-visited-text: #aac5f3;
    --fs-color-visited-text-strong: #dbe9ff;
    --fs-color-visited-text-subtle: #93a9cd;
    --fs-color-visited-content: #0c0d0f;
    --fs-color-brand1-surface: #192822;
    --fs-color-brand1-border-subtle: #253e35;
    --fs-color-brand1-border: #669382;
    --fs-color-brand1-border-strong: #85b7a5;
    --fs-color-brand1-fill: #45a386;
    --fs-color-brand1-text: #8bd6bc;
    --fs-color-brand1-text-strong: #c8f3e3;
    --fs-color-brand1-text-subtle: #7bb6a1;
    --fs-color-brand1-content: #0c0e0d;
    --fs-color-brand2-surface: #242133;
    --fs-color-brand2-border-subtle: #393351;
    --fs-color-brand2-border: #897eb6;
    --fs-color-brand2-border-strong: #aca0df;
    --fs-color-brand2-fill: #937be2;
    --fs-color-brand2-text: #c6b8ff;
    --fs-color-brand2-text-strong: #e8e4ff;
    --fs-color-brand2-text-subtle: #aa9be4;
    --fs-color-brand2-content: #0d0d10;
    --fs-color-brand3-surface: #311e20;
    --fs-color-brand3-border-subtle: #4d2e31;
    --fs-color-brand3-border: #af767c;
    --fs-color-brand3-border-strong: #d7979d;
    --fs-color-brand3-fill: #d26a79;
    --fs-color-brand3-text: #ffa8b1;
    --fs-color-brand3-text-strong: #ffdee1;
    --fs-color-brand3-text-subtle: #db9098;
    --fs-color-brand3-content: #0f0c0d;
    --fs-color-neutral-surface: #232425;
    --fs-color-neutral-border-subtle: #373839;
    --fs-color-neutral-border: #86888a;
    --fs-color-neutral-border-strong: #a9abae;
    --fs-color-neutral-fill: #8c8f94;
    --fs-color-neutral-text: #c1c4c9;
    --fs-color-neutral-text-strong: #e6e8eb;
    --fs-color-neutral-text-subtle: #a5a8ab;
    --fs-color-neutral-content: #0d0d0d;
    --fs-color-danger-surface: #331d1d;
    --fs-color-danger-border-subtle: #512c2c;
    --fs-color-danger-border: #b67271;
    --fs-color-danger-border-strong: #e09392;
    --fs-color-danger-fill: #df6165;
    --fs-color-danger-text: #ffa9a8;
    --fs-color-danger-text-strong: #ffdfde;
    --fs-color-danger-text-subtle: #e58b8a;
    --fs-color-danger-content: #100c0c;
    --fs-color-warning-surface: #292317;
    --fs-color-warning-border-subtle: #413621;
    --fs-color-warning-border: #99855f;
    --fs-color-warning-border-strong: #bea87d;
    --fs-color-warning-fill: #ae893a;
    --fs-color-warning-text: #e0bf7f;
    --fs-color-warning-text-strong: #f9e6c0;
    --fs-color-warning-text-subtle: #bea471;
    --fs-color-warning-content: #0e0d0b;
    --fs-color-success-surface: #1d271b;
    --fs-color-success-border-subtle: #2b3e29;
    --fs-color-success-border: #71926d;
    --fs-color-success-border-strong: #91b78c;
    --fs-color-success-fill: #62a15b;
    --fs-color-success-text: #9ed597;
    --fs-color-success-text-strong: #d2f3cd;
    --fs-color-success-text-subtle: #8ab684;
    --fs-color-success-content: #0c0e0c;
    --fs-color-neutral-canvas: #111212;
    --fs-color-neutral-raised: #323333;
  }
}
